07-2015_social_graph.json
1year_filtered.json
07-2015_master_user_list.json
BigJson/
Classfication/Json/allTweets.json
allTweets.json
Classfication/featureTweets.json

*.json

*.json

Classfication/Json/handJson - Copy.json

Classfication/Json/handJson - Copy.json

Classfication/featureTweets.json

Classfication/featureTweets.json

Classfication/Json/featueDict.txt

Classfication/featureTweets.json
